*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 236, 174);
    height: 100vh;
    width: 100vw;
}
.img-box img{
    width: 750px;
}
@media only screen and (min-width: 320px) {
    .img-box{
        height: 100vh;
        width: 100%;
    }
    .img-box img{
        width: 300px;
    }
}
@media only screen and (min-width: 375px) {
    .img-box{
        height: 100vh;
        width: 100%;
    }
    .img-box img{
        width: 330px;
    }
}
@media only screen and (min-width: 425px) {
    .img-box{
        height: 100vh;
        width: 100%;
    }
    .img-box img{
        width: 400px;
    }
}
@media only screen and (min-width: 768px) {
    .img-box{
        height: 100vh;
        width: 100%;
    }
    .img-box img{
        width: 700px;
    }
}
@media only screen and (min-width: 1024px) {
    .img-box{
        height: 100vh;
        width: 100%;
    }
    .img-box img{
        width: 750px;
    }
}